<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - Admin Paneli</title>

    <link href="~/sbadmin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/sbadmin/css/sb-admin-2.min.css" rel="stylesheet">

    <style>
        .sidebar-brand-text {
            text-transform: none;
        }
    </style>
</head>

<body id="page-top">

    <div id="wrapper">

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Admin" asp-action="Index">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-newspaper"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Haber Paneli</div>
            </a>

            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" asp-controller="Admin" asp-action="Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Yönetim Paneli</span>
                </a>
                
            </li>

            <hr class="sidebar-divider">
            <div class="sidebar-heading">İçerik Yönetimi</div>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Haber" asp-action="Index">
                    <i class="fas fa-fw fa-newspaper"></i>
                    <span>Haberler</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Category" asp-action="Index">
                    <i class="fas fa-fw fa-list"></i>
                    <span>Kategoriler</span>
                </a>
            </li>

            <hr class="sidebar-divider">
            <div class="sidebar-heading">Kullanıcı & Sistem</div>

            <li class="nav-item">
                <a class="nav-link" asp-controller="User" asp-action="Index">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Üyeler</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Todo" asp-action="Index">
                    <i class="fas fa-fw fa-check-square"></i>
                    <span>Yapılacaklar</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Index" target="_blank">
                    <i class="fas fa-fw fa-globe"></i>
                    <span>Siteye Git</span>
                </a>
            </li>

            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                    @User.Identity.Name
                                </span>
                                <img class="img-profile rounded-circle" src="~/img//default.png">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Profile">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profilim
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Çıkış Yap
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>

                <div class="container-fluid">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">@ViewData["Title"]</h1>
                    </div>

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">
                                @RenderSection("CardHeader", required: false)
                            </h6>
                        </div>
                        <div class="card-body">
                            @RenderBody()
                        </div>
                    </div>
                </div>

            </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Haber Portalı 2025</span>
                    </div>
                </div>
            </footer>

        </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Çıkış Yapmak İstiyor musunuz?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Oturumunuzu kapatmak için "Çıkış Yap" butonuna tıklayınız.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">İptal</button>
                    <a class="btn btn-primary" asp-controller="Home" asp-action="Logout">Çıkış Yap</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/sbadmin/vendor/jquery/jquery.min.js"></script>
    <script src="~/sbadmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/sbadmin/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/sbadmin/js/sb-admin-2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>

    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/generalHub").build();

        connection.start().then(function () {
            console.log("SignalR Bağlantısı Başarılı!");
        }).catch(function (err) {
            return console.error(err.toString());
        });

        connection.on("onHaberUpdate", function (sayi) {
            var element = document.getElementById("spanAktifHaberSayisi");
            if (element) {
                element.innerText = sayi;

                
                element.style.color = "green";
                setTimeout(() => { element.style.color = ""; }, 1000);
            }
        });
    </script>
    

    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>